<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome, {% if user_name %}{{ user_name }}{% else %}Guest{% endif %}!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-7w7T/WmWV7uh99Qc2+V7gJrW3E+w7I30+1fJSR7wjRUsW8FXb+SlDGMsH/mv51jZnW8YBt+VPboHxXdv7TLA2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Hello, {% if user_name %}{{ user_name }}{% else %}Guest{% endif %}!</h1>
          <p class="card-text">Welcome to our website. We're glad you're here!</p>
          {% if user_name %}
          <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
          {% else %}
          <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
          <a href="{{ url_for('register') }}" class="btn btn-primary">Sign up</a>
          {% endif %}

        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js" integrity="sha512-km+LmnbZYyEoO/Uk2T7V+mzHUV2/0ZnnM3rE3eVxN1+uKn7y0kW8I4tFb1tNKv1eIZq3t9SdCdtzBJLpilPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
