<!DOCTYPE html>
<html>
<head>
	<title>Success Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style type="text/css">
		.success-text {
			font-size: 3rem;
			font-weight: bold;
			color: green;
			margin-top: 5rem;
		}
		.success-icon {
			font-size: 5rem;
			color: green;
			margin-bottom: 2rem;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center">
				<i class="fas fa-check-circle success-icon"></i>
				<p class="success-text">Success!</p>
				<p>Your action has been completed successfully.</p>
			</div>
		</div>
	</div>
</body>
</html>
